@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Figtree", system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}
